# Django settings
DJANGO_SECRET_KEY="django-secret-key"
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"

# Database Settings
DB_ENGINE="django.db.backends.postgresql"
POSTGRES_USER="falaai"
POSTGRES_PASSWORD="falaai"
POSTGRES_DB="falaai_db"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432